/*  your css code here. If applicable */
h1{
	text-align:center;
	border:10px;
	padding:10px
}
#songs{
	border:2px solid black;
	text-decoration:none;
	list-style-type:none;
    margin:20px;
	font-weight:400;
	padding:20px;
	background-color:white;
}
h3{
	text-align:center;
}
div{
	background-color: rgb(204, 204, 204);
}
#controls{
	background-position:center;
	border:20px solid white;
	margin-left:50px;
	margin-right:50px;

	
}